__pycache__/
*.pyc

out/
dist/

host/tasks/

# Ignore third_party contents by default, but allow git submodules.
third_party/*
!third_party/
!third_party/rknn-llm
!third_party/rknn-llm/
!third_party/rknn-llm/**

models/
logs/
results/
